@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.wrapper {
  @include flex(column, flex-start, center);
  gap: 15px;
}

.changeAvatarButton {
  width: 100%;
}

.avatarContainer {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;

  &.defaultAvatar {
    border-radius: 0;
    overflow: visible;
  }
  
  @include respond-to(sm) {
    width: 120px;
    height: 120px;
  }
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fileInput {
  display: none;
}
