@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.header {
    border-bottom: 1px solid $border;
    padding: 20px 0px;
    margin-bottom: 20px
}

.wrapper {
    @include flex(row, space-between, center);
    gap: 20px;
}

.logo {
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    letter-spacing: 2px;
}

.left {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    gap: 15px;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}