@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.wrapper {
}

.top {
  @include flex(row, center, center, nowrap, 15px);
  margin-bottom: 20px;

  .title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $white;
    text-transform: uppercase;
  }

  .pulseCircle {
    width: 15px;
    height: 15px;
    animation: pulse 2s ease-in-out infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 0.3;
      transform: scale(0.95);
    }

    50% {
      opacity: 1;
      transform: scale(1.05);
    }

    100% {
      opacity: 0.3;
      transform: scale(0.95);
    }
  }
}

.spentCell {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 20px;
}

.active {
  animation: fadeIn 0.5s ease-in-out;

  .spentCell {
    background-color: $green;
  }

  .prizeCell {
    color: $green;
  }
}

.lost {
  animation: fadeIn 0.5s ease-in-out;

  .spentCell {
    background-color: $red;
  }

  .prizeCell {
    color: $red;
  }
}

.pending {
  animation: fadeInPending 0.5s ease-in-out;
  opacity: 0.6;

  .spentCell {
    background-color: $white-lighter;
  }

  .prizeCell {
    color: $white-lighter;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInPending {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 0.6;
    transform: translateY(0);
  }
}
