@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.pageTitle {
  @include flex(column, start, stretch);
  gap: 10px;
  
  &.left {
    text-align: left;
  }
  
  &.center {
    text-align: center;
  }
  
  &.right {
    text-align: right;
  }
  
  &.small {
    .title {
      font-size: $font-size-medium;
    }
    
    .subtitle {
      font-size: $font-size-small;
    }
  }
  
  &.medium {
    .title {
      font-size: $font-size-large;
    }
    
    .subtitle {
      font-size: $font-size-medium;
    }
  }
  
  &.large {
    .title {
      font-size: $font-size-xlarge;
    }
    
    .subtitle {
      font-size: $font-size-medium;
    }
  }
}

.title {
  color: $white;
  font-weight: $font-weight-bold;
  line-height: 1.2;
}

.subtitle {
  color: $white-light;
  font-weight: $font-weight-regular;
  line-height: 1.5;
}
