@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.userCell {
  @include flex(row, center, center, nowrap, 10px);

  &.small {
    .avatar {
      width: 28px;
      height: 28px;
    }

    .username {
      font-size: $font-size-small;
    }
  }

  &.medium {
    .avatar {
      width: 36px;
      height: 36px;
    }

    .username {
      font-size: $font-size-medium;
    }
  }

  &.large {
    .avatar {
      width: 48px;
      height: 48px;
    }

    .username {
      font-size: $font-size-large;
    }
  }
}

.avatar {
  @include flex(row, center, center);
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  background: rgba($blue-dark, 0.5);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.username {
  font-weight: $font-weight-medium;
  color: $white;
}
