@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.wrapper {
  @include flex(column, start, stretch, nowrap, 30px);
}

.tableWrapper {
}

.completed {
  color: $green;
  font-weight: $font-weight-medium;
}

.pending {
  color: $yellow;
  font-weight: $font-weight-medium;
}
