@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.Toastify__toast-container {
  z-index: 9999;
}

.Toastify__toast {
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 0 4px 12px $black-light;
  backdrop-filter: blur(10px);
  
  &--dark {
  }
  
  &--success {
  }
  
  &--error {
  }
  
  &--info {
  }
  
  &--warning {
  }
}

.Toastify__progress-bar {
  &--success {
  }
  
  &--error {
  }
  
  &--info {
  }
  
  &--warning {
  }
}

.Toastify__close-button {
}

@include respond-to(sm) {
}
