@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.form {
  @include flex(column, start, stretch, nowrap, 15px);
  flex: 1 1 0;
  width: 100%;
}

.termsLabel {
  @include flex(row, start, center, nowrap, 5px);
  flex-wrap: wrap;
}

.link {
  color: $yellow;
  text-decoration: underline;
  transition: all 0.2s ease;

  &:hover {
    color: lighten($yellow, 10%);
  }
}

.submitButton {
  margin-top: 15px;
}
