@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.header {
  border-bottom: 1px solid $border;
  padding: 15px 0px;
  margin-bottom: 20px;
}

.wrapper {
  @include flex(row, space-between, center, nowrap, 20px);
}

.logo {
  font-size: $font-size-large;
  font-weight: $font-weight-medium;
  letter-spacing: 2px;
}

.left {
  @include flex(row, center, center, nowrap, 10px);
}

.nav {
  @include flex(row, center, center, nowrap, 10px);
}

.right {
  @include flex(row, center, center, nowrap, 20px);
}
