$white: #ffffff;
$white-light: rgba($white, 0.7);
$white-lighter: rgba($white, 0.5);

$black: #000000;
$black-light: rgba($black, 0.7);
$black-lighter: rgba($black, 0.5);

$green: #44BB41;
$green-dark: #329136;
$green-light: rgba($green, 0.7);
$green-lighter: rgba($green, 0.5);

$yellow: #FFB800;
$yellow-dark: #cf8a00;
$yellow-light: rgba($yellow, 0.7);
$yellow-lighter: rgba($yellow, 0.5);

$red: #FF4B4B;
$red-dark: #cf4a4a;
$red-light: rgba($red, 0.7);
$red-lighter: rgba($red, 0.5);

$blue: #090F1E;
$blue-dark: #060c19;
$blue-light: rgba($blue, 0.7);
$blue-lighter: rgba($blue, 0.5);

$border: rgba($white, 0.1);

$white-background-hover: rgba($white, 0.05);
$white-background-active: rgba($white, 0.1);

$main-font: 'Oswald', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-small: 0.875rem;
$font-size-regular: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 2rem;
$font-size-xxlarge: 2.5rem;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$max-content-width: 1440px;
