$main-blue: #090F1E;
$white: #ffffff;
$black: #000000;

$green: #44BB41;
$green-dark: #329136;
$yellow: #FFB800;
$yellow-dark: #cf8a00;
$red: #FF4B4B;

$main-font: 'Oswald', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-small: 0.875rem;
$font-size-regular: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 2rem;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
