@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.profileInfo {
  @include flex(row, flex-start, center, nowrap, 40px);
  margin-bottom: 30px;

  @include respond-to(md) {
    @include flex(column, center, center, nowrap, 30px);
  }
}

.infoRows {
  flex: 1;
  @include flex(column, flex-start, stretch);

  @include respond-to(md) {
    width: 100%;
  }
}

.infoRow {
  @include flex(row, space-between, center);
  border-bottom: 1px solid $border;
  padding-bottom: 10px;
  margin-bottom: 10px;

  &:last-child {
    border-bottom: none;
  }
}

.infoLabel {
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
}

.infoValue {
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;

  &.green {
    color: $green;
  }
}

.action {
  @include flex(row, start, center, nowrap, 15px);
  margin-bottom: 20px;

  p {
    color: $yellow-light;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
  }

  @include respond-to(sm) {
    @include flex(column, start, start, nowrap, 15px);

    button {
      width: 100%;
    }
  }
}
