@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.wrapper {
  @include flex(column, center, center);
  gap: 25px;
  flex-grow: 1;
}

.icon {
  filter: drop-shadow(0 0 10px $green);
}

.text {
  text-align: center;
}

.description {
  font-size: $font-size-medium;
  margin-bottom: 15px;
}

.spamNote {
  font-style: italic;
}

@media (max-width: 768px) {
}
