@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.form {
  @include flex(column, start, stretch, nowrap, 15px);
  flex: 1 1 0;
  width: 100%;
}

.submitButton {
  margin-top: 15px;
}

.forgotPassword {
  align-self: center;
}
