@import '@/styles/abstracts/mixins';
@import '@/styles/abstracts/variables';

.swiper {
  margin-bottom: 20px;
}

.playButton {
  margin-bottom: 60px;
}

.topButtons {
  @include flex(row, stretch, center, nowrap, 20px);
  margin-bottom: 20px;

  @include respond-to(md) {
    @include flex(column, center, center, nowrap, 20px);
  }
}
