@import '@/styles/abstracts/mixins';

.swiper {
  margin-bottom: 20px;
}

.playButton {
  margin-bottom: 60px;
}

.topButtons {
  @include flex(row, stretch, center, nowrap, 20px);
  margin-bottom: 20px;
}
