@import '@/styles/abstracts/variables';

.divider {
  display: block;
  flex-shrink: 0;
}

.horizontal {
  width: 100%;
  height: 1px;
  background-color: rgba($white, 0.1);
  margin: 10px 0;
}

.vertical {
  height: 100%;
  width: 1px;
  background-color: rgba($white, 0.1);
  margin: 0 10px;
}
