@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.balance {
  @include flex(row, center, flex-end, nowrap, 20px);
}

.right {
  @include flex(column, flex-end, flex-end);
}

.top {
  @include flex(row, center, center, nowrap, 5px);
}

.label,
.value {
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  white-space: nowrap;
}

.value {
  &.real {
    color: $green;
  }

  &.demo {
    color: $yellow;
  }
}

.balanceItem {
  @include flex(row, space-between, center, nowrap, 20px);
}

.balanceItemLeft {
  @include flex(row, center, center, nowrap, 10px);
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid $white;
}

.activeCircle {
  border: 2px solid $green;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $green;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.balanceValue {
  &.real {
    color: $green;
  }

  &.demo {
    color: $yellow;
  }
}
