@import '@/styles/abstracts/variables';

.windowItem {
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $white-background-hover;
  }

  &.active {
    background-color: $white-background-active;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
  }
}
