@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.footer {
    margin-top: 20px;
    padding-bottom: 75px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .label {
        @include flex(row, center, center);
        gap: 20px;
        font-size: $font-size-large;
        font-weight: $font-weight-medium;
        color: $white;
        text-transform: uppercase;
    }
}

.information {
    @include flex(column, start, start);
    gap: 10px;

    .label {
        font-size: $font-size-large;
        font-weight: $font-weight-light;
        color: $white-light;
        text-transform: uppercase;
    }

    .actions {
        @include flex(row, space-around, center);
        width: 100%;
        gap: 30px;
    }
}

.supportWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: $blue;
    padding: 10px;
    border-top: 1px solid $border;
}

.support {
    @include flex(row, space-between, center);
}

.marks {
    @include flex(row, start, center);
    flex-wrap: wrap;
    gap: 15px;
}

.markImg {
    height: 35px;
}

.rights {
    @include flex(row, center, bottom);
    gap: 10px;
    font-size: $font-size-small;
    color: $white;
}

.payments {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 25px;
}

.paymentImg {
    height: 20px;
}

