@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.wrapper {
  position: relative;
}

.top {
  @include flex(row, space-between, center);
  width: 100%;
  margin: 0 auto;
  border: 1px solid $border;
  border-radius: 20px;
  padding: 15px;

  .label {
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    color: $white;
    white-space: nowrap;
  }

  .bombsCount {
    @include flex(row, start, center, nowrap, 10px);

    .count {
      font-size: $font-size-xlarge;
      font-weight: $font-weight-medium;
      color: $white;
    }

    .bomb {
      height: 50px;
    }
  }

  .left {
    @include flex(column, start, start, nowrap, 10px);
    width: 30%;

    @include respond-to(md) {
      width: 50%;
    }
  }
}

.grandma {
  margin: 0 auto;
}

.prize {
  @include flex(row, space-between, center, nowrap, 20px);
  padding: 0 15px;
  margin-bottom: 20px;

  .left {
    @include flex(row, space-between, center, nowrap, 20px);

    .chest {
      width: 110px;
    }

    .prizeValue {
      @include flex(column, start, start);

      .label {
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        color: $green;
      }

      .value {
        font-size: $font-size-large;
        font-weight: $font-weight-medium;
        color: $white;
      }
    }
  }
}

.settings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 20px;
  border: 1px solid $border;
  padding: 15px;
  border-radius: 20px;

  @include respond-to(md) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.wonOverlay,
.lostOverlay,
.startGame {
  @include flex(column, center, center, nowrap);
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: 0px;
  right: 0px;
  backdrop-filter: blur(2px);
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 1.5s;
}

.startGame {
  animation-delay: 0s;
}

.lostOverlay {
  .label {
    font-size: $font-size-xxlarge;
    font-weight: $font-weight-bold;
    color: $red;
    text-shadow: 0 0 5px rgba($red, 0.7), 0 0 10px rgba($red, 0.5),
      0 0 15px rgba(white, 0.3), 0 0 20px rgba($red, 0.3);
    letter-spacing: 2px;
    animation: floatingText 2s ease-in-out infinite;
    background: linear-gradient(to bottom, lighten($red, 10%), $red);
    background-clip: text;
    -webkit-background-clip: text;
    transform-origin: center;
    text-align: center;
  }
}

.wonOverlay {
  .label {
    font-size: $font-size-xxlarge;
    font-weight: $font-weight-bold;
    color: $green;
    text-shadow: 0 0 5px rgba($green, 0.7), 0 0 10px rgba($green, 0.5),
      0 0 15px rgba(white, 0.3), 0 0 20px rgba($green, 0.3);
    letter-spacing: 2px;
    animation: floatingText 2s ease-in-out infinite;
    background: linear-gradient(to bottom, lighten($green, 10%), $green);
    background-clip: text;
    -webkit-background-clip: text;
    transform-origin: center;
    text-align: center;
  }
}

.startGame {
  .label {
    font-size: $font-size-xxlarge;
    font-weight: $font-weight-bold;
    color: $green;
    text-shadow: 0 0 5px rgba($green, 0.7), 0 0 10px rgba($green, 0.5),
      0 0 15px rgba(white, 0.3), 0 0 20px rgba($green, 0.3);
    letter-spacing: 2px;
    animation: floatingText 2s ease-in-out infinite;
    background: linear-gradient(to bottom, lighten($green, 10%), $green);
    background-clip: text;
    -webkit-background-clip: text;
    transform-origin: center;
    text-align: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes floatingText {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.activePlayersTable {
}
