@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.wrapper {
  position: relative;
}

.top {
  @include flex(row, space-between, center);
  width: 100%;
  margin: 0 auto;
  border: 1px solid $border;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 40px;

  .label {
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    color: $white;
    white-space: nowrap;
  }

  .bombsCount {
    @include flex(row, start, center);
    gap: 10px;

    .count {
      font-size: $font-size-xlarge;
      font-weight: $font-weight-medium;
      color: $white;
    }

    .bomb {
      height: 50px;
    }
  }

  .left {
    @include flex(column, start, start);
    width: 30%;
    gap: 10px;

    @include respond-to(md) {
      width: 50%;
    }
  }
}

.grandma {
  margin: 0 auto;
}

.prize {
  @include flex(row, space-between, center);
  padding: 0 15px;
  margin-bottom: 20px;

  .left {
    @include flex(row, space-between, center);
    gap: 20px;

    .chest {
      width: 110px;
    }

    .prizeValue {
      @include flex(column, start, start);

      .label {
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        color: $green;
      }

      .value {
        font-size: $font-size-large;
        font-weight: $font-weight-medium;
        color: $white;
      }
    }
  }
}

.settings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 20px;
  border: 1px solid $border;
  padding: 15px;
  border-radius: 20px;

  @include respond-to(md) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.game {
  position: relative;

  .startGame {
    position: absolute;
    top: -20px;
    bottom: 0px;
    left: -20px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    
    .label {
      font-size: $font-size-xxlarge;
      font-weight: $font-weight-bold;
      color: $green;
      text-shadow: 
        0 0 5px rgba($green, 0.7),
        0 0 10px rgba($green, 0.5),
        0 0 15px rgba(white, 0.3),
        0 0 20px rgba($green, 0.3);
      letter-spacing: 2px;
      animation: floatingText 2s ease-in-out infinite;
      background: linear-gradient(to bottom, lighten($green, 10%), $green);
      background-clip: text;
      -webkit-background-clip: text;
      transform-origin: center;
      text-align: center;
    }
    
    @keyframes floatingText {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }
  }
}
  

