@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.form {
  @include flex(column, flex-start, stretch);
  gap: 20px;
  width: 100%;
}

.actions {
  @include flex(row, flex-end, center);
  gap: 15px;
}
