@import '@/styles/abstracts/variables';

.button {
    width: 100%;
    padding: 0px 20px;
    height: 55px;
    display: flex;
    flex-direction: column;
    color: $black;
    position: relative;
    border-radius: 10px;
    background-image: linear-gradient(283.27deg, #ffb800 0%, #fff173 138.82%);
    box-shadow: 0 5px 15px rgba(255, 217, 19, 0.4);

    &:hover {
        color: $black;
    }
}

.label {
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
}

.description {
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
}

.coin {
    background-image: url('/imgs/coin.png');
    width: 26px;
    height: 29px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0px;
    left: -10px;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.21)) drop-shadow(-1px 0 6px rgba(251, 226, 147, 0.6));
}

.money {
    width: 117px;
    height: 43px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 10px;
    background-image: url('/imgs/money.png');
}