@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.widthWrapper {
  width: 100%;
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @include respond-to(md) {
    padding: 0 15px;
  }

  @include respond-to(sm) {
    padding: 0 10px;
  }
}

.noPadding {
  padding: 0;
}

.fullHeight {
  height: 100%;
}

.centered {
  @include flex(column, center, center);
}

.relative {
  position: relative;
}
