@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.wrapper {
  flex: 1 1 0;
  @include flex(column, center, center, nowrap, 40px);
}

.title {
  font-size: 92px;
  font-weight: $font-weight-bold;
  color: $green;
  text-shadow: 0 0 15px rgba($green, 0.5);
  letter-spacing: 0.5rem;
  text-align: center;
}

.subtitle {
  font-size: $font-size-medium;
  color: $white;
  text-align: center;
}
